@page 
@model MyApp.Namespace.UserInformationModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    //var routeName = HttpContext.GetRouteValue("aboutMe");
}

@using Microsoft.AspNetCore.Identity

@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<div>
    <p>
        Name: @UserManager.GetUserName(User)
    </p>
    <p>
        Email: @(await UserManager.GetEmailAsync(user))
    </p>
</div>
<button style="color: red;">
    Forget me!
</button>
