@page 
@model MyApp.Namespace.UserInformationModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("aboutMe");
}

<div>
    <span>
        hej
    </span>
</div>
